* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Mochiy Pop One", sans-serif;
  border: none;
}
body {
  background-color: black;
  width: 100%;
  height: 100vh;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  position: relative;
}
header {
  position: absolute;
  text-align: center;
  width: 75%;
  left: 12%;
  top: 2rem;
}
header h1 {
  font-size: 30px;
}
.empty {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.content {
  display: flex;
  min-height: 110vh;
}
.content section {
  margin-top: 8vh;
  margin-left: 20vh;
}
.contact-form {
  margin-top: 7rem;
}
section i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: black;
  text-align: center;
}
.form {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}
.form .contact-form input {
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  border-bottom: 2px solid white;
}
.form .contact-form input ~ span {
  position: absolute;
  left: 20px;
  transition: 0.9s ease-in-out;
  margin-top: 10px;
}
.form .contact-form input:focus ~ span {
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form textarea {
  width: 30rem;
  border: 0;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span {
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~ span {
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form input [type="submit"] {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  margin-top: -5px;
}
.form .contact-form input [type="submit"]:hover {
  background-color: transparent;
  color: dodgerblue;
}
.media {
  position: absolute;
  top: 101vh;
  right: 148vh;
  display: flex;
  list-style: none;
}
.media li {
  margin: 20px 30px;
  transition: color 0.4s ease;
}
.media a i {
  transition: color 0.4s ease;
}
.media a:hover i {
  color: blue;
  /* transform: translateY(-20px); */
}

.btn {
  color: black;
  width: 150px;
  height: 38px;
  margin-left: 20px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 5px 10px 18px #888888;
}
